@import url('https://fonts.googleapis.com/css2?family=Anek+Tamil:wght@100;200&display=swap');


 body {

  /*display: flex;
  justify-content:baseline;
  align-items: center;*/
 }

* {
  padding: 0;
  margin: 0;
}

/*.wrapper {
  width: 800px;
  height: auto;
  background-color: rgb(196, 196, 196);
  padding: 20px;

  display: flex;
  justify-content: center;
  align-items: flex-end;
  

  background: rgb(12,9,70);
background: linear-gradient(90deg, rgba(12,9,70,1) 1%, rgba(20,121,142,1) 100%);

  -webkit-box-shadow: 10px 11px 18px 7px rgba(0, 0, 0, 0.2);
-moz-box-shadow: 10px 11px 18px 7px rgba(0, 0, 0, 0.2);
box-shadow: 10px 11px 18px 7px rgba(0, 0, 0, 0.2);
}*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  font-family: 'Anek Tamil', sans-serif;

}

.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: rgb(12,9,70);
  background: linear-gradient(90deg, rgba(12,9,70,1) 1%, rgba(20,121,142,1) 100%);
}

.main {
  height: 55vh;
  background: #2a6bb1;
  box-shadow: 0px 2px 80px -20px rgba(0,0,0,0.5);
  width: 60%;
  margin: 0 auto;
}





.info {
  height: 55vh;
  background: url("https://c.tenor.com/wSSZxkwnV3MAAAAM/rain-weather.gif")  7% 100%;
  background-blend-mode: darken;
  background-color: #484747;
  
  
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #000;
}

.form {
  height: 55vh;
  padding-top: 100px;
  padding-left: 50px;
  
  
  border-left: 1px solid #111111;
}

input[type="text"] {
  background-color: transparent;
  border: 0;
  border-bottom: solid 2px #113a65;
  width: 50%;
  padding-bottom: 4px;
  color: #fff;
  font-weight: lighter;
  margin-bottom: 30px;
  margin-right: 20px;
  font-size: 20px;
  outline: none;
}

input::-webkit-input-placeholder {
  color: #103a65;
}

input::-moz-placeholder {
  color: #103a65;
}

button {
  border: 2px solid #103a65;
  border-bottom: 4px solid #103a65;
  padding: 8px 20px;
  margin: 0 2px;
  border-radius: 2px;
  cursor: pointer;
  background-color: #235d9c;
  color: #fff;
  outline: none!important;
}

button:hover {
  border-bottom: 2px solid #103a65;
  position: relative;
  top: 2px;
}

button:active {
  border-bottom: 2px solid transparent;
  border-color: transparent;
  position: relative;
  top: 2px;
}

.info h2 {
  font-size: 3em;
  color: #fff;
}

.info p {
  color: #e4e4e4;
  font-weight: bold;
}

.infoWeath {
  width: 60%;
  font-size: 20px;
  color: #fff;
}

.error {
  color: #041f3c;
  font-weight: bold;
}